.login_div{
    width: fit-content;
    background: #27ae60;
    padding: 10px;
    float: none;
    border-radius: 15px;
}
body{
    background: #27ae60;
}
#player1_name , #player2_name{
	display: inline-block;
	margin-left: 20px;
}
#word{
	width: 60%;
}
#word_display{
	letter-spacing: 5px;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
h1{
    color: aqua;
}
h3{
    color: red;
}
input{
    border-color: greenyellow;
    border-width: thick;
    border-style: groove;
}
#question{
    width: fit-content;
}

#question1{
    width: fit-content;
}